{{#if user}}
    <h1 class='dash-header'>Deposit Money</h1>
    <div class='balance'>
        <p>Account Number: {{user.account_number}}</p>
        <p>Balance: {{user.current_balance}}</p>
    </div>
    <div class='deposit-money-form'>
        <form action='api/deposit' method='POST'>
            <div>
                <label>Deposit Amount</label><br>
                <input id='deposit-input' name='deposit'>
            </div>
            <button id='deposit-button' type='submit'>Deposit</button>
        </form>
    </div>
{{/if}}