    <div class='signup-modal'>
      <div class='modal-content'>
          <span class="close">&times;</span>
              <div class='modal-signup-box'>
                <form action='/api/signup' method="POST">
                  <label>UserName:</label>
                  <input type="username" id='username' name='username'><br>
                  <label>Password:</label>
                  <input type="password" id="pw" name='password'>
                  <div class='pw-error'></div>
                  <div>
                    <button class='account-button signup-button' type='submit'>Sign up!</button>
                  </div>
              </form>
            </div>
      </div>
    </div>