{{> dashboardnav}}

<div class='dashboard-container'>
    {{> dashboardpanel}}
    <div class='account-container'>
        <div class='account'>
            {{> account}}
        </div>
        <div class='deposit'>
            {{> deposit}}
        </div>
        <div class='send-money'>
            {{> send-money}}
        </div>
        <div class='loans'>
            loans
        </div>
        <div class='update-account'>
            upodate profile
        </div>
    </div>

</div>
{{> footer }}