

  <div class='jumbo-container'>
    
    {{> login-modal}}
    {{> signup-modal}}

  <div class='jumbo-login-row'>
      <div class="login-box">
        <h1>Log into your Account</h1>
        <div class="button-box">
          <button id='login'>login</button>
          <button id='signup'>signup</button>
        </div>
        <div class='login-box-info'>
          <p><a href='#'>Forgot password?</a></p>
        </div>
      </div>
  </div>
</div>  

  <div class="container2">

  <div class="ul-boxs">
    <div id='credit-card' class="box1 display-li">Find a credit card</div>
    <div id='manage-money' class="box2 display-li">Manage your money</div>
    <div id='buy-home' class="box2 display-li">Buy a home</div>
    <div id='buy-car' class="box2 display-li">Buy a car</div>
    <div id='invest' class="box2 display-li">Investments</div>
  </div>

  <div class='container2-content'>
    <div id='credit-card-box'>
      <div class="card-info">
        <div class="card-text">
          <p> A card that matches you</p>
        </div>
      </div>
      <div class="card-img-box">
        <div class="info-box">
          <p class="blue-text">Travel perks, cash back, low rates with a U.S. Bank credit card.</p>
        </div>
        <div class="card-img">
          <div class="card-logo">
            <div class="freedom-bank-logo">FreedomBank</div>
          </div>
        </div>
      </div>
    </div>
    <div id='manage-money-box'>
      <div class="money-info">
        <div class="money-text">
          <p>Checking your way</p>
        </div>
      </div>
      <div class="money-img-box">
        <div class="money-box">
          <p class="blue-text">What do you want in a checking account?</p>
        </div>
        <div class="money-img">
          <div class="money-logo">
            <div class="money-bank-logo">FreedomBank</div>
          </div>
        </div>
      </div>
    </div>
    <div id='buy-home-box'>
      <div class="home-info">
        <div class="home-text">
          <p>Find your new home.</p>
        </div>
      </div>
      <div class="home-img-box">
        <div class="home-box">
          <p class="blue-text">Resources and expertise to help you make that house your home.</p>
        </div>
        <div class="home-img">
          <div class="home-logo">
            <div class="home-bank-logo">FreedomBank</div>
          </div>
        </div>
      </div>
    </div>
    <div id='buy-car-box'>
      <div class="car-info">
        <div class="car-text">
          <p>Hit the highway</p>
        </div>
      </div>
      <div class="car-img-box">
        <div class="car-box">
          <p class="blue-text">Competitive rates for new cars, used cars, and loan refinancing.</p>
        </div>
        <div class="car-img">
          <div class="car-logo">
            <div class="car-bank-logo">FreedomBank</div>
          </div>
        </div>
      </div>
    </div>
    <div id='invest-box'>
      <div class="invest-info">
        <div class="invest-text">
          <p>Explore your options</p>
        </div>
      </div>
      <div class="invest-img-box">
        <div class="invest-box">
          <p class="blue-text">How to invest, and what stocks should you buy?</p>
        </div>
        <div class="invest-img">
        </div>
      </div>
    </div>
  </div>

</div>


  {{> footer }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/login.js"></script>
