

  <div class='jumbo-container'>
    
    {{> login-modal}}
    {{> signup-modal}}

  <div class='jumbo-login-row'>
      <div class="login-box">
        <h1>Log into your Account</h1>
        <div class="button-box">
          <button id='login'>login</button>
          <button id='signup'>signup</button>
        </div>
        <div class='login-box-info'>
          <p><a href='#'>Forgot password?</a></p>
        </div>
      </div>
  </div>
</div>  

  <div class="container2">

        <div class="ul-boxs">
          <div id='credit-card' class="box1 display-li">Find a credit card</div>
          <div id='manage-money'class="box2 display-li">Manage your money</div>
          <div id='buy-home'class="box2 display-li">Buy a home</div>
          <div id='buy-car' class="box2 display-li">Buy a car</div>
          <div id='buy-equity' class="box2 display-li">Use your equity</div>
        </div>

        <div class='container2-content'>
            <div id='credit-card-box'>
              credit-card-box
            </div>
            <div id='manage-money-box'>
              manage-money-box
            </div>
            <div id='buy-home-box'>
              buyhone
            </div>
            <div id='buy-car-box'>
              asdofin
            </div>
            <div id='buy-equity-box'>
              equity
            </div>
        </div>
    </div>


  {{> footer }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/login.js"></script>
